<%= simple_form_for @articulo, 
  url: modelo_path(@articulo),
  :html => { :class => 'form-horizontal' } do |f| 
%>

  <div class="row">
    <div id="campos" class="offset-sm-0 col-sm-4">
  
      <%= render partial: 'sip/hogar/errores', locals: { f: f } %>

      <% if !f.object || !f.object.id || !f.object.adjunto_file_name %>
        <%= f.input :adjunto, 
          as: :file, 
          label: 'Caratula (.jpg, .png, .tiff)',
          input_html: { "data-imagenpre": 'imagen-detalle'} %>
      <% else %>
        <div class="articulo_adjunto">
          <label for="articulo_attributes_<%=f.object.id%>_adjunto">Caratula</label>
          <a id="articulo_adjunto_attributes_<%=f.object.id%>_adjunto" href="<%= buscar_mostraruno_url(f.object.id) %>", style="text-decoration:none"><%= f.object.adjunto_file_name %></a>
        </div>
      <% end %>
  
      <%= f.input :titulo %> 

      <%= render partial: 'articulos_complemento0', locals: { f: f } %>
  
      <%= render partial: 'articulos_complemento1', locals: { f: f } %>
  

      <%= f.input :observaciones %> 
  
      <div class="form-actions abajocentrado">
        <%= f.button :submit, :class => 'btn-primary' %>

        <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
          modelos_path(@articulo), :class => 'btn' 
        
        %>
      </div>

    </div> <!-- class="offset-sm-0 col-sm-7 col-md-8" -->
  
    <div id="resultados" class="offset-sm-0 col-sm-8">
      <% if f.object && f.object.id && f.object.adjunto_file_name %>
        <%= image_tag url_descarga_jpg(f.object.id), width: "100%", id: 'imagen-detalle' %> 
      <% else %>
        <img src="#" width="100%", id='imagen-detalle'> 
      <% end %>
    </div> <!-- id: resultados -->
  </div> <!-- row -->

<% end %>
